/GetMaxValue.class
/InvertNumber.class
/PrimeNumChecker.class
/Sets.class
/Sorting.class
/identifyPalindrome.class
/invertString.class
/removeExtraSpaces.class
/smartSwapping.class
/substringFinder.class
